# Investigating Data Sets

## Table of Contents
<ul>
<li><a href="#intro">Introduction</a></li>
<li><a href="#wrangling">Data Wrangling</a></li>
<li><a href="#eda">Exploratory Data Analysis</a></li>
<li><a href="#conclusions">Conclusions</a></li>
</ul>

<a id='intro'></a>
## Introduction

> In this analysis we are going to be investigating and trying to find possible correlations between three different sets of data. These sets of data are **Income Per Person(Per Country)**, **Life Expectancy(Per Country)**, and **Energy Use Per Person(Per Country)**. All data was collected by [Gapminder World](https://www.gapminder.org/data/). The three data sets are included in [this GitHub repository](https://github.com/TrikerDev/Investigating-Data-Sets) in CSV format for further viewing. The analysis of these data sets is to find potential correlation between different data points. This is all tentative information and **correlation does not equal causation**.

## Questions to Answer

>* Does increased income per person equate to higher life expectancy?
>* Does increased energy usage per person equate to higher life expectancy?
>* Does increased income per person equate to higher energy usage per person?

### My Predictions
> Personally, I predict that all three of these data sets will have a positive correlation with one another. As in, higher income leads to higher life expectancy. Higher life expectancy leads to higher energy usage, etc. I predict each data set will have a positive correlation with every other data set. I am investigating this to see if my predictions and those correlations could potentially be true.

In [12]:
# Importing packages to be used
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

<a id='wrangling'></a>
## Data Wrangling

### General Properties

In [13]:
# Loading in the CSV data
income = pd.read_csv('income_per_person.csv')
life = pd.read_csv('life_expectancy_years.csv')
energy = pd.read_csv('energy_use_per_person.csv')

In [14]:
# Reading a few lines from the Life Expectancy table
life.head()

,country,1800,1801,1802,1803,1804,1805,1806,1807,1808,...,2091,2092,2093,2094,2095,2096,2097,2098,2099,2100
0,Afghanistan,28.2,28.2,28.2,28.2,28.2,28.2,28.1,28.1,28.1,...,76.5,76.6,76.7,76.9,77.0,77.1,77.3,77.4,77.5,77.7
1,Albania,35.4,35.4,35.4,35.4,35.4,35.4,35.4,35.4,35.4,...,87.4,87.5,87.6,87.7,87.8,87.9,88.0,88.1,88.2,88.3
2,Algeria,28.8,28.8,28.8,28.8,28.8,28.8,28.8,28.8,28.8,...,88.3,88.4,88.5,88.6,88.7,88.8,88.9,89.0,89.1,89.2
3,Andorra,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Angola,27.0,27.0,27.0,27.0,27.0,27.0,27.0,27.0,27.0,...,78.7,78.9,79.0,79.1,79.3,79.4,79.5,79.7,79.8,79.9

In [15]:
# Reading a few lines from the Income per Person table
income.head()

,country,1800,1801,1802,1803,1804,1805,1806,1807,1808,...,2031,2032,2033,2034,2035,2036,2037,2038,2039,2040
0,Afghanistan,603,603,603,603,603,603,603,603,603,...,2550,2600,2660,2710,2770,2820,2880,2940,3000,3060
1,Albania,667,667,667,667,667,668,668,668,668,...,19400,19800,20200,20600,21000,21500,21900,22300,22800,23300
2,Algeria,715,716,717,718,719,720,721,722,723,...,14300,14600,14900,15200,15500,15800,16100,16500,16800,17100
3,Andorra,1200,1200,1200,1200,1210,1210,1210,1210,1220,...,73600,75100,76700,78300,79900,81500,83100,84800,86500,88300
4,Angola,618,620,623,626,628,631,634,637,640,...,6110,6230,6350,6480,6610,6750,6880,7020,7170,7310

In [16]:
# Reading a few lines from the Energy Use per Person table
energy.head()

,country,1960,1961,1962,1963,1964,1965,1966,1967,1968,...,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
0,Albania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,707.0,680.0,711.0,732.0,729.0,765.0,688.0,801.0,808.0,NaN
1,Algeria,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1030.0,1080.0,1070.0,1150.0,1110.0,1140.0,1230.0,1250.0,1330.0,NaN
2,Angola,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,459.0,472.0,492.0,515.0,521.0,522.0,552.0,534.0,545.0,NaN
3,Antigua and Barbuda,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1730.0,1740.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Argentina,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1850.0,1860.0,1940.0,1870.0,1930.0,1950.0,1940.0,1970.0,2030.0,NaN

> Now, there are **A LOT** of data points here, and as you can see (specifically in the Energy Use table) there are many data points that dont even exist. These will be narrowed down and cleaned up later. First, we are going to display these uncleaned data points in a few different ways to get a few different views.

In [19]:
# Describing the Life Expectancy table in a different way to get data points such as Mean, Standard Deviation, Max, etc.
life.describe()

,1800,1801,1802,1803,1804,1805,1806,1807,1808,1809,...,2091,2092,2093,2094,2095,2096,2097,2098,2099,2100
count,184.000000,184.000000,184.000000,184.000000,184.000000,184.000000,184.000000,184.000000,184.000000,184.000000,...,184.000000,184.00000,184.000000,184.000000,184.000000,184.000000,184.000000,184.000000,184.00000,184.000000
mean,31.502717,31.461957,31.478804,31.383152,31.459239,31.586413,31.644565,31.598370,31.383152,31.310326,...,83.758152,83.87663,83.996196,84.119022,84.236957,84.358152,84.478804,84.593478,84.71087,84.829891
std,3.814689,3.806303,3.938674,3.962376,3.934674,4.010884,4.110598,3.981247,4.087872,4.040580,...,5.600794,5.59444,5.589074,5.577601,5.570850,5.566060,5.556903,5.550234,5.54055,5.532609
min,23.400000,23.400000,23.400000,19.600000,23.400000,23.400000,23.400000,23.400000,12.500000,13.400000,...,67.100000,67.30000,67.400000,67.500000,67.600000,67.700000,67.800000,67.900000,68.00000,68.100000
25%,29.075000,28.975000,28.900000,28.900000,28.975000,29.075000,29.075000,29.075000,28.975000,28.875000,...,79.500000,79.70000,79.800000,79.900000,80.075000,80.200000,80.375000,80.475000,80.57500,80.775000
50%,31.750000,31.650000,31.550000,31.500000,31.550000,31.650000,31.750000,31.750000,31.550000,31.500000,...,84.200000,84.35000,84.450000,84.550000,84.650000,84.750000,84.850000,85.000000,85.15000,85.250000
75%,33.825000,33.900000,33.825000,33.625000,33.725000,33.825000,33.925000,33.925000,33.725000,33.625000,...,88.125000,88.22500,88.325000,88.500000,88.600000,88.700000,88.800000,88.900000,89.00000,89.100000
max,42.900000,40.300000,44.400000,44.800000,42.800000,44.300000,45.800000,43.600000,43.500000,41.700000,...,93.700000,93.90000,94.000000,94.100000,94.200000,94.300000,94.400000,94.500000,94.70000,94.800000

In [20]:
# Describing the Income table in a different way to get data points such as Mean, Standard Deviation, Max, etc.
income.describe()

,1800,1801,1802,1803,1804,1805,1806,1807,1808,1809,...,2031,2032,2033,2034,2035,2036,2037,2038,2039,2040
count,193.000000,193.000000,193.000000,193.000000,193.000000,193.000000,193.000000,193.000000,193.000000,193.000000,...,193.000000,193.000000,193.000000,193.000000,193.000000,193.000000,193.000000,193.000000,193.000000,193.000000
mean,978.523316,978.948187,980.725389,980.922280,981.911917,982.502591,982.829016,985.419689,980.937824,982.393782,...,23142.378238,23613.119171,24083.461140,24577.430052,25077.678756,25576.476684,26107.564767,26635.953368,27180.512953,27730.725389
std,579.633227,579.915248,582.565512,582.032626,583.963199,584.043985,584.097850,590.514505,578.200194,581.878397,...,23670.673835,24162.379036,24635.072766,25136.440969,25646.475260,26138.360102,26707.571366,27233.418469,27813.430077,28356.570830
min,250.000000,250.000000,249.000000,249.000000,249.000000,249.000000,248.000000,248.000000,248.000000,248.000000,...,557.000000,566.000000,577.000000,588.000000,600.000000,612.000000,625.000000,637.000000,650.000000,664.000000
25%,592.000000,592.000000,592.000000,592.000000,592.000000,593.000000,593.000000,593.000000,593.000000,593.000000,...,5180.000000,5280.000000,5380.000000,5490.000000,5600.000000,5710.000000,5830.000000,5950.000000,6070.000000,6190.000000
50%,817.000000,822.000000,826.000000,831.000000,836.000000,836.000000,836.000000,836.000000,836.000000,836.000000,...,15400.000000,15700.000000,16000.000000,16400.000000,16700.000000,17000.000000,17400.000000,17700.000000,18100.000000,18500.000000
75%,1160.000000,1170.000000,1170.000000,1170.000000,1170.000000,1170.000000,1170.000000,1170.000000,1160.000000,1170.000000,...,34200.000000,34800.000000,35500.000000,36200.000000,37000.000000,37700.000000,38500.000000,39300.000000,40100.000000,40900.000000
max,3840.000000,3840.000000,3840.000000,3840.000000,3840.000000,3840.000000,3840.000000,3840.000000,3840.000000,3840.000000,...,149000.000000,153000.000000,156000.000000,159000.000000,162000.000000,165000.000000,169000.000000,172000.000000,176000.000000,179000.000000

In [21]:
# Describing the Energy table in a different way to get data points such as Mean, Standard Deviation, Max, etc.
energy.describe()

,1960,1961,1962,1963,1964,1965,1966,1967,1968,1969,...,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
count,25.000000,25.000000,25.000000,25.000000,25.000000,26.000000,26.000000,26.000000,26.000000,26.000000,...,167.000000,167.000000,137.000000,137.000000,137.000000,137.000000,137.000000,137.000000,131.000000,34.000000
mean,2291.800000,2325.800000,2421.960000,2554.360000,2665.280000,2700.038462,2772.230769,2844.230769,3029.615385,3212.230769,...,2219.385928,2228.555449,2581.620438,2470.408759,2556.321168,2540.919708,2552.136496,2529.178102,2580.040458,4180.294118
std,2111.839561,2096.769718,2083.526247,2109.977624,2222.873807,2161.118812,2115.409451,2111.165409,2236.114972,2375.453899,...,2823.620956,2834.985797,2984.181246,2867.183873,2947.257429,2980.009828,3008.272882,2994.200788,3037.373448,2819.526594
min,289.000000,322.000000,350.000000,368.000000,410.000000,441.000000,452.000000,484.000000,497.000000,512.000000,...,9.550000,9.560000,128.000000,130.000000,135.000000,113.000000,63.700000,65.400000,66.300000,1540.000000
25%,1320.000000,1400.000000,1410.000000,1450.000000,1520.000000,1450.000000,1517.500000,1732.500000,1895.000000,2022.500000,...,488.000000,511.000000,594.000000,609.000000,670.000000,661.000000,685.000000,660.000000,687.000000,2617.500000
50%,1830.000000,1890.000000,2050.000000,2180.000000,2320.000000,2310.000000,2340.000000,2320.000000,2460.000000,2655.000000,...,1030.000000,1060.000000,1460.000000,1380.000000,1450.000000,1550.000000,1580.000000,1490.000000,1560.000000,3560.000000
75%,2700.000000,2740.000000,2890.000000,3080.000000,3210.000000,3277.500000,3250.000000,3307.500000,3545.000000,3692.500000,...,2875.000000,2850.000000,3360.000000,3150.000000,3310.000000,3100.000000,3080.000000,3070.000000,3030.000000,4997.500000
max,10500.000000,10500.000000,10400.000000,10500.000000,11200.000000,10900.000000,10500.000000,10400.000000,11100.000000,12000.000000,...,19200.000000,18200.000000,16400.000000,16900.000000,17000.000000,18200.000000,17600.000000,18200.000000,17900.000000,17500.000000

### Data Cleaning (Replace this with more specific notes!)

In [ ]:
# After discussing the structure of the data and any problems that need to be
#   cleaned, perform those cleaning steps in the second part of this section.

<a id='eda'></a>
## Exploratory Data Analysis

> **Tip**: Now that you've trimmed and cleaned your data, you're ready to move on to exploration. Compute statistics and create visualizations with the goal of addressing the research questions that you posed in the Introduction section. It is recommended that you be systematic with your approach. Look at one variable at a time, and then follow it up by looking at relationships between variables.

### Research Question 1 (Replace this header name!)

In [ ]:
# Use this, and more code cells, to explore your data. Don't forget to add
#   Markdown cells to document your observations and findings.

### Research Question 2  (Replace this header name!)

In [ ]:
# Continue to explore the data to address your additional research
#   questions. Add more headers as needed if you have more questions to
#   investigate.

<a id='conclusions'></a>
## Conclusions

> **Tip**: Finally, summarize your findings and the results that have been performed. Make sure that you are clear with regards to the limitations of your exploration. If you haven't done any statistical tests, do not imply any statistical conclusions. And make sure you avoid implying causation from correlation!

> **Tip**: Once you are satisfied with your work here, check over your report to make sure that it is satisfies all the areas of the rubric (found on the project submission page at the end of the lesson). You should also probably remove all of the "Tips" like this one so that the presentation is as polished as possible.

## Submitting your Project 

> Before you submit your project, you need to create a .html or .pdf version of this notebook in the workspace here. To do that, run the code cell below. If it worked correctly, you should get a return code of 0, and you should see the generated .html file in the workspace directory (click on the orange Jupyter icon in the upper left).

> Alternatively, you can download this report as .html via the **File** > **Download as** submenu, and then manually upload it into the workspace directory by clicking on the orange Jupyter icon in the upper left, then using the Upload button.

> Once you've done this, you can submit your project by clicking on the "Submit Project" button in the lower right here. This will create and submit a zip file with this .ipynb doc and the .html or .pdf version you created. Congratulations!

In [ ]:
from subprocess import call
call(['python', '-m', 'nbconvert', 'Investigate_a_Dataset.ipynb'])